In [20]:
## Q1: Find the output of following:
Name=''' Hi How are you?
Starterd learning python.
It's really interesting.''' 
print(Name[:] )
print(Name[-10:-5])
print(Name[3:12])
print(Name[12:3])
# print(Name[5,6])
#string indices must be integers, not 'tuple'
print(Name[::-2])

 Hi How are you?
Starterd learning python.
It's really interesting.
teres
 How are

.nteen larst
nhy nnaldert
uyeawHi

In [19]:
## Q2 
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
print(L1[:] )
print(L1[::3])
print(L1[::-2])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
['major', 400, 100, 30, 'b']

In [9]:
#d.	How to extract  value “Happy” based on index and negative index
print(L1[-2])
#or
print(L1[8])

#e.	How to check type of data in list at 4th position
print(type(L1[3]))

#f.	Extract values for 100, 300, 400 
L1[5:8]

Happy
Happy
<class 'int'>

[100, 300, 400]

In [18]:
# Q3 
L2=[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success'] 
print(L2[4])
print(L2[1:5])
print(L2[7])
print(L2[7][2])
print(L2[7][2:])
print(L2[:3])
print(L2[3:])


#4.	From the above l2 value ‘b’ must be changed to ‘BEE’.
L2[4][1]='BEE'
L2

#5.	From l2 “BEE” has to discard
L2[4].remove('BEE')
L2


#6.	In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}
dict1={'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']}
L2.append(dict1)
L2


Dict2={'a':10, 'b':20, 'c' : 30} 
L2.insert(1,Dict2)
L2

print(L2[-1]['insect'])
print(L2[1]['a'])

['a', 'b', 'work hard']
[2, 3, 5, ['a', 'b', 'work hard']]
Success
c
ccess
[1, 2, 3]
[5, ['a', 'b', 'work hard'], 100, 200, 'Success']
['bee', 'moth']
10

In [17]:
L2_=[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, 'Success', (200,300, 'Hundreds')] 
print(L2_[4][2])
print(L2_[5][:])
print(L2_[1:5])
print(L2_[5])
print(L2_)
print(L2_[5][3:-1])
print(L2_[-1])
print(L2_[-4: -3])
print(L2_[-4: -10]) #no output
print(L2_[-10:-4])  # output
print(L2_[7][2])
print(L2_[-7][-2:])
print(L2_[:-3])
print(L2_[-3:])

50
Python
[2, 3, 5, (90, 40, 50, 10)]
Python
[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100, 200, 'Success', (200, 300, 'Hundreds')]
ho
(200, 300, 'Hundreds')
[100]
[]
[3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard']]
work hard
on
[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]
[200, 'Success', (200, 300, 'Hundreds')]

In [ ]:
'''
Q 11.	Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails
If marks are more than 80 output must be “You got distinction”
For marks more than 60 output must be “You got First class”
Marks more than 40 will display “You got second class”
Marks more than or equal to 35 “PASS” Otherwise Fail
'''

def remark(user_marks):
    if (not user_marks.isalpha and not user_marks.isalnum ) or user_marks.isdigit():
        markss=float(user_marks)
        if markss>100 or markss<0:
            return "enter marks in valid range"
        elif markss>=80:
            return "distinction"
        elif markss>=60:
            return "first class"
        elif markss>=40:
            return "Second class"
        elif markss>=35:
            return"pass"
        else:
            return "fail"
    else:
        return "enter marks only"
    
# main
marks=input("enter your marks :")
remark(marks)

'first class'

In [23]:
'''   
Q 12: Ask user to enter information about salary of the employee per year and rating received as A, B, C, D
If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6%
If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6%
If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment
If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no
'''
Salary=float(input(" Enter Salary in LPA: "))
Grade=input("Enter Grade(A,B,C,D)").upper()
print(f"Your Current Salary is: {Salary}LPA")
if(Salary<=5):
    if(Grade=='A'):
        Salary*=1.16
    elif(Grade=='B'):
        Salary*=1.12
    elif(Grade=='C'):
        Salary*=1.10
    elif(Grade=='D'):
        Salary*=1.6
    else:
        print("No increment")
elif(Salary<=10):
    if(Grade=='A'):
        Salary*=1.14
    elif(Grade=='B'):
        Salary*=1.10
    elif(Grade=='C'):
        Salary*=1.08
    elif(Grade=='D'):
        Salary*=1.06
    else:
        print("No increment")
elif(Salary<=15):
    if(Grade=='A'):
        Salary*=1.08
    elif(Grade=='B'):
        Salary*=1.06
    elif(Grade=='C'):
        Salary*=1.04
    elif(Grade=='D'):
        Salary=Salary
    else:
        print("No increment")
elif(Salary<=23):
    if(Grade=='A'):
        Salary*=1.07
    elif(Grade=='B'):
        Salary*=1.05
    elif(Grade=='C'):
        Salary*=1.04
    elif(Grade=='D'):
        Salary=Salary
    else:
        print("No increment")
else:
    print("Salary out of range..")

print(f"Your New Salary is: {Salary}LPA")

Your Current Salary is: 4.4LPA
Your New Salary is: 4.928000000000001LPA

In [24]:
''' 
 Q13 Ask user to opt for courses for master degree based on the following
L1 = [“HR”, “Finance”, “Marketing”, “DS”]
Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. Analytics is the optional subject and having added extra fees. DS is not having analytics.
If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.
If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .
Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.  
User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

'''

L11=['HR', 'Finance', 'Marketing', 'DS']
core_fee = 200000
analytics_fee = 0
hostel_fee = 0
food_fee = 0
transport_fee = 0
Sub=input("Enter subject from given list ['HR', 'Finance', 'Marketing', 'DS']:- ").upper()
analytics=input("choose Y for yes and N for No for Analytics:- ").upper()
hostel=input("Enter Y if you want hostel and No for not for Hostel:- ").upper()
food=int(input("time duration for food you want in months:- "))
Transportation=input("Give Input As Semester or Annua:-  ").upper()
total_fees=core_fee

# for analytics courses
if analytics=='Y':
    if Sub!='DS':
        analytics_fee=core_fee*0.10
        total_fees+=analytics_fee
    else:
        print("No analytics for course DS")

#for hostel
if hostel=='Y':
    hostel_fee=200000
    total_fees+=hostel_fee
else:
    print("No hostel for you")

#food
if food!=0:
    food_fee=food*2000
    total_fees+=food_fee

#transportation
if Transportation=='SEMESTER':
    transport_fee=13000
elif Transportation=='ANNUAL':
    transport_fee=13000*2
total_fees+=transport_fee

print("Core Fee:", core_fee)
print("Analytics Fee:", analytics_fee)
print("Hostel Fee:", hostel_fee)
print("Food Fee:", food_fee)
print("Transport Fee:", transport_fee)
print("------------------------")
print("Total Annual Cost:", total_fees)

Core Fee: 200000
Analytics Fee: 20000.0
Hostel Fee: 200000
Food Fee: 8000
Transport Fee: 13000
------------------------
Total Annual Cost: 441000.0

In [25]:
## Q14
## Book Store
Books={"HINDI":{"1st-4th":60,"5th-8th":100,"9-10th":150},
       "MARATHI":{"1st-4th":60,"5th-8th":100,"9-10th":150},
       "ENGLISH":{"1st-4th":80,"5th-8th":100,"9-10th":150},
       "SCIENCE":{"1st-4th":90,"5th-8th":120,"9-10th":200},
       "MATHS":{"1st-4th":100,"5th-8th":140,"9-10th":250}
       }

Notebooks={"SQUARE":{"100PGS":40,"200PGS":70},
            "4LINES":{"100PGS":30,"200PGS":50},
            "2LINES":{"100PGS":30,"200PGS":50},
            "SINGLELINE":{"100PGS":60,"200PGS":100},
            "A4 NOTEBOOK":{"100PGS":100,"200PGS":180}
            }

user_choice=int(input(  
                  """ Enter your choice amongs these 
                  1. books
                  2. notebooks
                  3. books and notebooks  enter number (1 or 2 or 3)"""
                  ))

amount=0
if user_choice in (1,3):
    print("Available subjects:", list(Books.keys()))
    sub=input("enter the subject you want: ").strip().upper()
    std=int(input("enter the standard of the books:"))
    qty=int(input("Enter quantity of these books"))
    if 1<= std<=4:
        std_key="1st-4th"
    elif 5<= std<=8:
        std_key="5th-8th"
    elif 9<=std<=10:
        std_key="9-10th"

    book_amount=Books[sub][std_key] * qty
    amount +=book_amount
    print(f"your Books amount is {book_amount}")
if user_choice in (2,3):
    print(f"Available notebooks{Notebooks.keys()}:")
    nb=input("enter notebook type:").strip().upper()
    if nb in Notebooks:
        print("Available pages:")
    for p in Notebooks[nb]:
        print("-", p)
    pages=input("enter No. of pages of books{ 100 or 200 }")
    page_key = str(pages) + "PGS"
    qty_nb=int(input("enter quantity:"))
    notebook_amount=Notebooks[nb][page_key] * qty_nb
    amount += notebook_amount
    print(f"your notebook amount is {notebook_amount}")
print(f"your final amount: {amount}")

Available notebooksdict_keys(['SQUARE', '4LINES', '2LINES', 'SINGLELINE', 'A4 NOTEBOOK']):
Available pages:
- 100PGS
- 200PGS
your notebook amount is 80
your final amount: 80

In [ ]:
# Q14 using functions
Books={"HINDI":{"1st-4th":60,"5th-8th":100,"9-10th":150},
       "MARATHI":{"1st-4th":60,"5th-8th":100,"9-10th":150},
       "ENGLISH":{"1st-4th":80,"5th-8th":100,"9-10th":150},
       "SCIENCE":{"1st-4th":90,"5th-8th":120,"9-10th":200},
       "MATHS":{"1st-4th":100,"5th-8th":140,"9-10th":250}
       }

Notebooks={"SQUARE":{"100PGS":40,"200PGS":70},
            "4LINES":{"100PGS":30,"200PGS":50},
            "2LINES":{"100PGS":30,"200PGS":50},
            "SINGLELINE":{"100PGS":60,"200PGS":100},
            "A4 NOTEBOOK":{"100PGS":100,"200PGS":180}
            }

def user_query():
   order={}
   ch=int(input(  
                  """ Enter your choice amongs these 
                  1. books
                  2. notebooks
                  3. books and notebooks  enter number (1 or 2 or 3)"""
                  ))
   if ch in (1,3):
      order["books"] = {
            "subject": input("Enter subject: ").strip().upper(),
            "standard": int(input("Enter standard (1-10): ")),
            "quantity": int(input("Enter book quantity: "))
        }
   if ch in (2,3):
      pages = int(input("Enter pages (100 or 200): "))
      order["notebooks"] ={
            "type": input("Enter notebook type: ").strip().upper(),
            "pages": str(pages) + "PGS",
            "quantity": int(input("Enter notebook quantity: "))
        }
      
   return order

def user_bill(order):
    bill = {'details': {}, 'Total_amount': 0}

    #for books
    if "books" in order:
        std = order['books']['standard']

        if 1 <= std <= 4:
            std_key = "1st-4th"
        elif 5 <= std <= 8:
            std_key = "5th-8th"
        elif 9 <= std <= 10:
            std_key = "9-10th"
        else:
            print("Invalid standard")
            return

        subject = order['books']['subject']

        if subject not in Books:
            print("Invalid subject")
            return

        price = Books[subject][std_key] * order["books"]["quantity"]
        bill["details"]["books"] = price
        bill["Total_amount"] += price

    # ---------- NOTEBOOKS ----------
    if "notebooks" in order:
        n_type = order["notebooks"]["type"]
        pages = order["notebooks"]["pages"]

        if n_type not in Notebooks:
            print("Invalid notebook type")
            return

        price = (
            Notebooks[n_type][pages]
            * order["notebooks"]["quantity"]
        )
        bill["details"]["notebooks"] = price
        bill["Total_amount"] += price

    return bill

def print_bill(bill):
    for item, amount in bill["details"].items():
        print(f"{item.capitalize()} Amount: {amount}")
    print("Total Amount: ₹", bill["Total_amount"])

order=user_query()
bills=user_bill(order)
if input("do you want the bill Yes/No?").lower()=='yes':
    print_bill(bills)

Notebooks Amount: 80
Total Amount: ₹ 80

In [28]:
 ## Q17 Type casting
 # val'100' can be converted into str but cannot be list,tuple,set etc 
 # this is because int val cannot be iterated 
a=100
a1=str(a)
print(type(a1))
a2=list(a)
print(a2,type(a2))
a3_tup=tuple(a1)
print(a3_tup,type(a3_tup))
# a4_dict=dict(a1)
# print(a4_dict,type(a4_dict))
# a5_set=set(a)
# print(a5_set,type(a5_set))
a6_float=float(a)
print(a6_float,type(a6_float))

<class 'str'>

TypeError: 'int' object is not iterable

In [29]:
# Q8
city='Pune'
# city_int=int(city)
# city_float=float(city)
city_list=list(city)
city_list2=[city]
print(f"{city_list},{type(city_list)}, \n {city_list2}, {type(city_list2)}")
city_tup=tuple(city)
city_tup2=(city)
print(f"{city_tup} {type(city_tup)} \n {city_tup2} {type(city_tup2)}")
# city_dict=dict(city)
city_set=set(city)
city_set2={city}
print(f"{city_set} {type(city_set)}\n  {city_set2} {type(city_set2)}")

['P', 'u', 'n', 'e'],<class 'list'>,
 ['Pune'], <class 'list'>
('P', 'u', 'n', 'e') <class 'tuple'>
 Pune <class 'str'>
{'n', 'u', 'e', 'P'} <class 'set'>
  {'Pune'} <class 'set'>

In [30]:
# Q9
marks=[20,18,15,17,18]
# marks_int=int(marks)
#marks_float=float(marks)
marks_tuple=tuple(marks)
marks_tuple2=(marks)
print(f"{marks_tuple} {type(marks_tuple)}\n{marks_tuple2}{type(marks_tuple2)}")
# marks_dict=dict(marks)
marks_set=(marks)
marks_set2=set(marks)
print(f"{marks_set} {type(marks_set)}\n {marks_set2} {type(marks_set2)}")

(20, 18, 15, 17, 18) <class 'tuple'>
[20, 18, 15, 17, 18]<class 'list'>
[20, 18, 15, 17, 18] <class 'list'>
 {17, 18, 20, 15} <class 'set'>

In [31]:
# Q10 list
snames=[] # emptylist
snames.append(20)
print(snames)
snames.extend([30])
print(snames)
snames.append([10,40,'hello'])
print(snames)
snames.extend(['Work'])
print(snames)
combo=[1,'a','b',2,3]
print(snames+combo)
snames.append(combo)
print(snames)
snames.extend(combo)
print(snames)

[20]
[20, 30]
[20, 30, [10, 40, 'hello']]
[20, 30, [10, 40, 'hello'], 'Work']
[20, 30, [10, 40, 'hello'], 'Work', 1, 'a', 'b', 2, 3]
[20, 30, [10, 40, 'hello'], 'Work', [1, 'a', 'b', 2, 3]]
[20, 30, [10, 40, 'hello'], 'Work', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

In [32]:
# Q11
L1=[2,4]
L3=[6,8,10,6,4,9,7]
L3.insert(4,L1)
print(L3)

[6, 8, 10, 6, [2, 4], 4, 9, 7]

In [33]:
# Q12

collection = [1, 2, 3, ['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]
collection_new = []

for i in collection:
    if isinstance(i, (int, float)):
        collection_new.append(i * 5)
    elif isinstance(i, str):
        collection_new.append(i)
    elif isinstance(i,list):
        collection_new.append(i)

print(collection_new)

[5, 10, 15, ['a', 'b', 'c'], 500, 'Nisha', 102.5, 450.5]

In [34]:
# Q12 a
for j in collection:
    if j=="Nisha":
        collection.remove(j)
print(collection)

[1, 2, 3, ['a', 'b', 'c'], 100, 20.5, 90.1]

In [35]:
# Q12 b
for k in collection:
    if k==20.50:
        print(collection.index(k))

5

In [36]:
# Q13

comp_list=[i**2 for i in range(1,11)]
print(comp_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Q14
comp_list2=[i for i in range(1,201) if i%13==0]
print(comp_list2)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [37]:
# Q15

comp_list3=[i for i in range(300,401) if i%4==0]
print(comp_list3)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

In [40]:
# Q16

x=int(input("enter the number of values you want in list X"))
y=int(input("enter the number of values you want in list "))
x_list=[i for i in range(1,x+1)]
y_list=[i for i in range(1,y+1)]
xy_list=[[i,j] for i in x_list for j in y_list]
print(xy_list)
print(x_list)
print(y_list)

[[1, 1], [1, 2], [2, 1], [2, 2]]
[1, 2]
[1, 2]

In [41]:
# Q22

s1={1,2,3,4,'hello'}
s2={2,3,5,6,7,'world'}
print(s1.union(s2)) #for union
print(s1.intersection(s2)) # for intersection
print(s1.difference(s2)) # for difference
print(s1.symmetric_difference(s2)) # for symmetric difference

{1, 2, 3, 4, 5, 6, 7, 'world', 'hello'}
{2, 3}
{1, 4, 'hello'}
{1, 4, 5, 6, 7, 'world', 'hello'}

In [42]:
# q23

l2_2=[2,3,4,5,6]
print(s1.union(l2_2)) #for union
print(s1.intersection(l2_2)) # for intersection
print(s1.difference(l2_2)) # for difference
print(s1.symmetric_difference(l2_2)) # for symmetric difference

{1, 2, 3, 4, 5, 'hello', 6}
{2, 3, 4}
{1, 'hello'}
{1, 5, 6, 'hello'}

In [43]:
# Q24

user_name=input("enter your name:  ").lower()
DOB=input("enter your date of birth in dd-mm-yyyy:")
dates=''
for i in DOB:
    if i.isnumeric():
        dates= dates+i 
password=user_name[:4]+dates[:4]
print(password)

davi2904

In [ ]:
# 26
for i in range(1,5):
    print('* '*i)

*
* *
* * *
* * * *

In [46]:
# 27

for i in range(4,0,-1):
    print('* ' *i)

* * * *
* * *
* *
*

In [45]:
# 28

str_val='ABCD'
var=''
for i in str_val:
    var=var+i
    print(var)

A
AB
ABC
ABCD

In [47]:
# Q29

str_val='ABCD'
var=''
for i in str_val:
    var=var+i
    print(i*len(var))

A
BB
CCC
DDDD

In [48]:
# Q30

for j in range(1,5):
    print(f"{j}"*j)

1
22
333
4444

In [49]:
# Q31

val='ABCD'
c=''
for i in range(len(val)-1,-1,-1):
    c=c+val[i]
    print(c)

D
DC
DCB
DCBA

In [50]:
# q32

s1=input("enter string:")
len2=len(s1)
d=''
for i in range(len2-1,-1,-1):
    d=d+s1[i]
    print(d)

d
di
div
diva
divad

In [51]:
# Q33

# for loop
odd_l=[]
for i in range(1,11):
    if i%2!=0:
        odd_l.append(i)
print(odd_l)


# using list comprehension
odd_l2=[j for j in range(1,11) if j%2!=0]
print(odd_l2)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [52]:
# Q34

even_list=[]
for i in range(200,250+1):
    if i%2==0:
        even_list.append(i)
print(even_list)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [70]:
def salary_update(curr_salary, curr_grade):

    if curr_salary.replace('.', '', 1).isdigit():  
        curr_salary = float(curr_salary)

        if curr_salary <= 5:
            if curr_grade == 'A':
                return curr_salary * 1.16
            elif curr_grade == 'B':
                return curr_salary * 1.12
            elif curr_grade == 'C':
                return curr_salary * 1.10
            elif curr_grade == 'D':
                return curr_salary * 1.06
            else:
                return "No increment"

        elif curr_salary <= 10:
            if curr_grade == 'A':
                return curr_salary * 1.14
            elif curr_grade == 'B':
                return curr_salary * 1.10
            elif curr_grade == 'C':
                return curr_salary * 1.08
            elif curr_grade == 'D':
                return curr_salary * 1.06
            else:
                return "No increment"

        elif curr_salary <= 15:
            if curr_grade == 'A':
                return curr_salary * 1.08
            elif curr_grade == 'B':
                return curr_salary * 1.06
            elif curr_grade == 'C':
                return curr_salary * 1.04
            elif curr_grade == 'D':
                return curr_salary
            else:
                return "No increment"

        elif curr_salary <= 23:
            if curr_grade == 'A':
                return curr_salary * 1.07
            elif curr_grade == 'B':
                return curr_salary * 1.05
            elif curr_grade == 'C':
                return curr_salary * 1.04
            elif curr_grade == 'D':
                return curr_salary
            else:
                return "No increment"

        else:
            return "Salary out of range.."

    else:
        return "Invalid salary input"


# Taking input
curr_salary = input("Enter your salary in LPA: ")
curr_grade = input("Enter your grade A,B,C,D: ").upper()

cur_sal = salary_update(curr_salary, curr_grade)
print("Updated Salary:", cur_sal)

Updated Salary: 5.8

In [72]:
# Q38

def number_validate(num):
    if num.isdigit() and len(num)==10:
        val=num
        flag=True
    else:
        val="error"
        flag=False
    return val,flag
def user_phone():
    user_num=input("Enter your phone number: ")
    return user_num
#main
phone=user_phone()
number_validate(phone)

('error', False)

In [73]:
# Q39

def validate_name(f,l):
    if ((not f.isdigit and f.isalnum) or f.isalpha()) and (not l.isdigit and l.isalnum) or l.isalpha():
        if len(f)!=0 and len(l)!=0:
            return"you entered a valid name"
first_name=input("enter your name: ").strip()
last_name=input("enter your name: ").strip()
validate_name(first_name,last_name)

'you entered a valid name'

In [75]:

# q40
def password_gen(name,dob):
    if name.isalpha():
        dates=''
        for i in dob:
            if i.isnumeric():
                dates=dates+i
        if len(name)>=4:
            return name[:4]+dates[4:]
        else:
            return " dob should contain 4 digits"
    else:
        return" name must 4 characters long and it shouldhave alphabets only"
#main
user_name_1=input("enter you name")
BD=input("enter your birthdate ")
password_gen(user_name_1,BD)

'davi2003'

In [78]:
# Q48

def pallindrome_check(str):
    if str.isalpha():
        if str==str[::-1]:
            return f" {str} yes its pallindrome"
        else:
            return f"{str} No its not a pallindrome"
    else:
        return" enter only alphabets "
# main
str=input("Enter a String: ")
pallindrome_check(str)

'David No its not a pallindrome'

In [80]:
# Q49

def fibo():
        a=0
        b=1
        print(a,b)
        for i in range(101):
            c=a+b
            print(c)
            a,b=b,a
#main
fibo()

0 1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [81]:
"""

48.calculate ttoal hrs based on input sign in and sign out time
"""

from datetime import datetime

def total_hours(sign_in, sign_out):
    fmt = "%H:%M"  #format
    global in_time,out_time
    in_time = datetime.strptime(sign_in, fmt)
    out_time = datetime.strptime(sign_out, fmt)
    hours = (out_time - in_time).seconds / 3600
    return hours

print(total_hours("09:30", "17:45"))  # 8.25
print(total_hours("08:15", "16:30"))  # 8.25

print(out_time-in_time)

8.25
8.25
8:15:00

# Q15

In [83]:
from datetime import datetime

Interest_rates = {
    "7-45":{"Public_existing":5.75,"Public_revised":5.75,"Senior_existing":6.25,"Senior_revised":6.25},
    "46-179":{"Public_existing":6.25,"Public_revised":6.25,"Senior_existing":6.75,"Senior_revised":6.75},
    "180-210":{"Public_existing":6.35,"Public_revised":6.35,"Senior_existing":6.85,"Senior_revised":6.85},
    "211-less_than_1Year":{"Public_existing":6.40,"Public_revised":6.40,"Senior_existing":6.90,"Senior_revised":6.90},
    "1year-less_than_2_year":{"Public_existing":6.80,"Public_revised":7.00,"Senior_existing":7.30,"Senior_revised":7.50},
    "2years-less_than_3Year":{"Public_existing":6.80,"Public_revised":6.75,"Senior_existing":7.30,"Senior_revised":7.25},
    "3years-less_than_5years":{"Public_existing":6.80,"Public_revised":6.70,"Senior_existing":7.30,"Senior_revised":7.20},
    "5year-upto_10years":{"Public_existing":6.85,"Public_revised":6.60,"Senior_existing":7.35,"Senior_revised":7.10}
}

Time_brackets = {
    "7-45":(7,45),
    "46-179":(46,179),
    "180-210":(180,210),
    "211-less_than_1Year":(211,365),
    "1year-less_than_2_year":(365,730),
    "2years-less_than_3Year":(730,1095),
    "3years-less_than_5years":(1095,1826),
    "5year-upto_10years":(1826,3652)
}

def Your_tenure(days):
    for Tenors, (min_days, max_days) in Time_brackets.items():
        if min_days <= days <= max_days:
            return Tenors
    return "Invalid Duration"

start_date = input("Enter FD Start Date (YYYY-MM-DD): ")
end_date = input("Enter FD End Date (YYYY-MM-DD): ")
start_date = datetime.strptime(start_date, "%Y-%m-%d")
end_date = datetime.strptime(end_date, "%Y-%m-%d")

# difference
duration = (end_date - start_date).days
print("Total Days:", duration)
tenor = Your_tenure(duration)

if tenor != "Invalid Duration":
    rate = Interest_rates[tenor]['Public_existing']
    print("Tenor:", tenor)
    print("Interest Rate:", rate)
else:
    print("Invalid FD duration")

Total Days: 506
Tenor: 1year-less_than_2_year
Interest Rate: 6.8

In [ ]:
#Q 50.	Write a code to generate factorial of the number  For example: factorial of 5 = 5! = 5*4*3*2*1
def fact(n):
    f = 1
    for i in range(1, n + 1):
        f = f * i
    print(f)

fact(int(input("Enter a number: ")))

120

In [87]:
# Q51 Write a program to find largest number in the list.
lst = [12, 35, 13, 69, 22]
max = lst[0]
for i in lst:
    if i > max:
        max = i
print(max)

69

In [88]:
# Q52 Write a program to check frequency of each element in the list.
lst = [1, 2, 2, 3, 4, 1, 2]
d = {}
for i in lst:
    if i in d:
        d[i] = d[i] + 1
    else:
        d[i] = 1
print(d)

{1: 2, 2: 3, 3: 1, 4: 1}

In [92]:
#Q53 There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.
l1 = [1, 2, 3, 4, 5]
l1=set(l1)
l2 = [3, 2, 8, 7, 9]
l2=set(l2)
list(l1.intersection(l2))

[2, 3]