## List Comprehension

In [4]:
# 1. Squares of numbers from 1 to 10
sq = [i*i for i in range(1, 11)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# 2. Even numbers between 1 and 50
even = [i for i in range(1, 51) if i % 2 == 0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [6]:
# 3. Convert strings to uppercase
names = ["abhi", "ram", "sham"]
upper_case = [i.upper() for i in names]
print(upper_case)

['ABHI', 'RAM', 'SHAM']

In [7]:
# 4. Only positive numbers
nums = [-3, 5, -1, 7, 0, 9]
pos = [i for i in nums if i > 0]
print(pos)

[5, 7, 9]

In [8]:
# 5. Tuples (num, num^2) from 1 to 5
tup = [(i, i*i) for i in range(1, 6)]
print(tup)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [9]:
# 6. Extract vowels from string
str = "Hollywood"
vowels = [i for i in str if i in "aeiouAEIOU"]
print(vowels)

['o', 'o', 'o']

In [10]:
# 7. Flatten 2D list
lst_2d = [[1, 2], [3, 4], [5, 6]]
flat = [j for i in lst_2d for j in i]
print(flat)

[1, 2, 3, 4, 5, 6]

In [11]:
# 8. Replace negative numbers with 0
nums = [-2, 4, -5, 6]
new = [0 if i < 0 else i for i in nums]
print(new)

[0, 4, 0, 6]

In [12]:
# 9. Length of each word
words = ["python", "java", "c"]
lengths = [len(i) for i in words]
print(lengths)

[6, 4, 1]

In [13]:
# 10. Words not starting with A or a
words = ["Apple", "ball", "ant", "cat"]
res = [i for i in words if not i.lower().startswith('a')]
print(res)

['ball', 'cat']

In [14]:
# 11. From a list of numbers, generate a list of “even” or “odd” strings using list comprehension.
num = [1, 2, 3, 4]
eo = ["even" if i % 2 == 0 else "odd" for i in num]
print(eo)

['odd', 'even', 'odd', 'even']

In [15]:
# 12. Create a list of numbers divisible by both 3 and 5 in range 1–100.
l_12 = [i for i in range(1, 101) if i % 3 == 0 and i % 5 == 0]
print(l_12)

[15, 30, 45, 60, 75, 90]

In [16]:
# 13.Write a nested list comprehension to generate a multiplication table for 1–5.
table = [[i*j for j in range(1, 11)] for i in range(1, 6)]
print(table)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]]

In [17]:
# 14. Convert a dictionary’s keys into a list using list comprehension.
dict1 = {"a": 1, "b": 2}
keys = [i for i in dict1]
print(keys)

['a', 'b']

In [18]:
# 15. Extract numeric digits from a string using list comprehension.
s = "savy294bk"
digits = [i for i in s if i.isdigit()]
print(digits)

['2', '9', '4']

In [19]:
# 16. Use list comprehension to remove all spaces from a string.
s = "Foot ball"
cleaned_s= [i for i in s if i != " "]
print("".join(cleaned_s))

Football

In [20]:
# 17. Create a list of characters that appear more than once in a string.
str1 = "Hollywood"
dup = [i for i in str1 if str1.count(i) > 1]
print(dup)

['o', 'l', 'l', 'o', 'o']

In [21]:
# 18. From a list of sentences, generate a list of all words (split using list comprehension).
str2 = ["hey there", "how are you doing "]
words = [w for s in str2 for w in s.split()]
print(words)

['hey', 'there', 'how', 'are', 'you', 'doing']

In [22]:
# 19. Create a list of unique elements from a list using list comprehension + condition.
lst = [22,4,4,2,6,4,6,3,5,7,6]
uniq = [i for i in lst if lst.count(i) == 1]
print(uniq)

[22, 2, 3, 5, 7]

In [23]:
# 20. Generate all pairs (x, y) where x is from list A and y is from list B (cartesian product).
x=[1,4,8]
y=[2,6,10]
pairs=[(i,j) for i in x for j in y]
pairs

[(1, 2), (1, 6), (1, 10), (4, 2), (4, 6), (4, 10), (8, 2), (8, 6), (8, 10)]

## Lamda Functions

In [24]:
# 1. Write a lambda to add two numbers.
add=lambda x,y:x+y
add(7,8)

15

In [25]:
#2. Create a lambda to check if a number is even.
even_check=lambda x:x%2==0
even_check(8)

True

In [26]:
#3. Write a lambda to get the last character of a string.
last_char=lambda s:s[-1]
last_char("David")

'd'

In [27]:
#4. Use lambda with map() to square every number in a list.
num1=[2,3,4,5,6]
square=list(map(lambda s:s*s,num1))
square

[4, 9, 16, 25, 36]

In [28]:
#5. Use lambda with filter() to get only odd numbers from a list.
odd=list(filter(lambda x:x%2!=0,num1))
odd

[3, 5]

In [29]:
#6. Use sorted() + lambda to sort a list of tuples by second value.
t = [(1, 3), (4, 6), (9, 2)]
print(sorted(t, key=lambda x: x[1]))

[(9, 2), (1, 3), (4, 6)]

In [30]:
#7. Create a lambda to check if a string is a palindrome.
palindrome=lambda s: s==s[::-1]
palindrome("naman")

True

In [31]:
#8. Use lambda to find maximum of three numbers.
max_3 = lambda a, b, c: a if a > b and a > c else b if b > c else c
max_3(5,2,8)

8

In [32]:
#9. Write a lambda to reverse a string.
rev=lambda s:s[::-1]
rev("Hello")

'olleH'

In [33]:
#10. Use lambda with map() to convert a list of strings to integers.
list_str=["2","4","6"]
num10=list(map(lambda x:int(x),list_str))
num10

[2, 4, 6]

In [34]:
# 11.Remove empty strings
lst = ["hello", "", "there", ""]
clean = list(filter(lambda x: x != "", lst))
print(clean)

['hello', 'there']

In [35]:
from functools import reduce
# 12. Use lambda to compute factorial using reduce() (yeah, that one-liner madness).
fact = lambda n: reduce(lambda a, b: a*b, range(1, n+1))
print(fact(5))

120

In [36]:
#13. Write a lambda that returns the larger of two numbers.
larg_num = lambda a, b: a if a > b else b
print(larg_num(8,10))

10

In [37]:
#14.Use lambda to check if number is divisible by 5.
div_5=lambda x: x%5==0
div_5(25)

True

In [38]:
# 16. sort the list of dictionary by age.
data=[{"Age":22},{"Age":25},{"Age":18}]
sorted(data, key=lambda x:x['Age'])

[{'Age': 18}, {'Age': 22}, {'Age': 25}]

In [40]:
# 17. wap to check vowel
vowel_ch=lambda c:c.lower() in 'aeiou'
vowel_ch("E")

True

In [42]:
# 18. print list of words whose length>5
words=["Dragon","Shenron","Goku","Vegeta"]
len_5=list(filter(lambda x: len(x)>5, words))
len_5

['Dragon', 'Shenron', 'Vegeta']

In [43]:
# 19. wap to calculate area of circle
import math
area_circle=lambda s: math.pi*s*s
area_circle(5)

78.53981633974483

In [45]:
#20 wap to remove duplicates
lst = [4,2,4,2,3,3,4,1,5]
list_nodup=list(filter(lambda x: lst.count(x)==1,lst))
list_nodup

[1, 5]

In [48]:
# 21. Product of list
nums = [5,6]
prod = reduce(lambda a, b: a*b, nums)
print(prod)

30

In [51]:
# 22. Absolute value
ab = lambda x: x if x >= 0 else -x
print(ab(-0.98))

0.98

In [53]:
# 23. Sort strings by length
s = ["helloworld","there"]
print(sorted(s, key=lambda x: len(x)))

['there', 'helloworld']

In [55]:
# 24. Uppercase characters from string
s = "HoLlyWooD"
up = list(filter(lambda x: x.isupper(), s))
print(up)

['H', 'L', 'W', 'D']

In [58]:
# 25. # 25. Square if even, cube if odd
cal = lambda x: x*x if x % 2 == 0 else x*x*x
print(cal(9))

729

In [60]:
# 26. convert Celsius to Fahrenheit
c2f = lambda c: (c * 9/5) + 32
print(c2f(42))

107.6

In [61]:
# 27. Anagram check
ana = lambda a, b: sorted(a) == sorted(b)
ana("listen", "silent")

True

In [62]:
# 28. Numeric values from mixed list
mix = [1, "a", 3, "b"]
num = list(filter(lambda x: type(x) == int, mix))
print(num)

[1, 3]

In [63]:
# 29. Any negative number
nums = [-2,3,-4]
print(any(map(lambda x: x < 0, nums)))

True

In [65]:
# 30. Lambda returning multiplier function
mul = lambda b: lambda x: x * b
f = mul(6)
print(f(10))

60